.aGrow {
  animation: aGrow 0.5s ease 1;
}

.aShrink {
  animation: aShrink 0.5s ease 1;
}

@keyframes aGrow {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes aShrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
