.form {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 440px;
  max-width: 600px;
  @apply relative p-10 flex flex-col gap-3;
}

.sign-in-input {
  @apply !pl-10 w-full !bg-light-default dark:!bg-dark-default;
}

@media (max-width: 500px) {
  .form {
    min-width: auto;
    width: 100%;
  }
}
