.form {
  box-shadow: 0px 0px 10px 0px #00000052;
  min-width: 440px;
  max-width: 600px;
  @apply relative p-10 flex flex-col gap-5;
}

@media (max-width: 500px) {
  .form {
    min-width: auto;
    width: 100%;
  }
}
