@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.card-shadow {
  box-shadow: 0px 0px 10px 0px #00000052
}

.card-divider {
  @apply border-light-200 dark:border-dark-200
}

.skeleton-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
  border-radius: 100px;
  opacity: 0.6;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 5s infinite;
  animation: shimmer 5s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.viewport {
  min-height: 100vh;
  min-height: 100svh;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.sync .loader {
  width: 30px;
}

.button-loading .loader {
  width: 22px;
}
.button-loading .loading {
  background: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}
