@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  min-height: calc(100vh - 80px);
}

.w-md-editor-text-pre,
.w-md-editor-text-input,
.w-md-editor-text > .w-md-editor-text-pre {
  font-family: inherit !important;
}

.secondary.dashed-border {
  @apply border-secondary;
}
.dashed-border {
  @apply w-full border-[1px] border-dashed;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  @apply transition-all duration-300;
}
.dark body {
  background: rgba(12, 12, 12);
  background-image: linear-gradient(
    174.2deg,
    rgba(12, 12, 12) 7.1%,
    rgba(17, 17, 17) 67.4%
  );
}
.light body {
  background: rgba(255, 244, 228, 1);
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
}

input[type="file"] {
  visibility: hidden;
}

input:focus-visible,
input {
  outline: none !important;
}

.primary.icon-button {
  @apply text-primary hover:bg-pdark-hover;
}
.secondary.icon-button {
  @apply text-secondary hover:bg-pdark-hover;
}

.icon-button {
  @apply w-10 h-10 min-w-10 min-h-10 rounded-full flex items-center justify-center text-xl transition;
}

.secondary.submit {
  @apply border-secondary bg-secondary hover:bg-sdark hover:border-sdark text-white;
}

.primary.submit {
  @apply border-primary bg-primary hover:bg-pdark hover:border-pdark text-white;
}

.submit {
  @apply border-2;
}

.primary.outlined {
  @apply border-primary hover:bg-primary text-white;
}
.secondary.outlined {
  @apply border-secondary hover:bg-primary text-white;
}
.primary.link {
  @apply hover:bg-primary text-white;
}
.secondary.link {
  @apply hover:bg-secondary text-white;
}
.outlined {
  @apply border-2;
}

button {
  @apply transition duration-300 font-semibold cursor-default;
}

.link {
  @apply transition;
}

.input-control {
  @apply relative w-full flex flex-col items-start justify-start gap-2;
}

.input,
button.primary,
button.secondary {
  @apply px-5 py-2 rounded-3xl transition duration-300;
}

.input:disabled {
  @apply cursor-auto;
}
