@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

@media (max-width: 370px) {
  h1 {
    @apply text-xl;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.main {
  min-height: calc(100vh - 80px);
}

.w-md-editor-text-pre,
.w-md-editor-text-input,
.w-md-editor-text > .w-md-editor-text-pre {
  font-family: inherit !important;
}

.wmde-markdown {
  color: inherit !important;
  background-color: inherit !important;
}

.secondary.dashed-border {
  @apply border-secondary;
}
.dashed-border {
  @apply w-full border-[1px] border-dashed;
}

* {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Gabarito", sans-serif;
}

body {
  @apply transition-all duration-300;
}
.dark body {
  background: rgba(12, 12, 12);
  background-image: linear-gradient(
    174.2deg,
    rgba(12, 12, 12) 7.1%,
    rgba(17, 17, 17) 67.4%
  );
}
.light body {
  background: rgba(255, 244, 228, 1);
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
}

input[type="file"] {
  visibility: hidden;
}

input:focus-visible,
input {
  outline: none !important;
}

.primary.link {
  @apply hover:bg-primary text-white;
}
.secondary.link {
  @apply hover:bg-secondary text-white;
}

.link {
  @apply transition;
}

.input-control {
  @apply relative w-full flex flex-col items-start justify-start gap-2;
}

.input {
  @apply px-5 py-2 rounded-3xl transition duration-300 text-sdark;
}

.input:disabled {
  @apply cursor-auto;
}

ol,
ul,
menu {
  list-style: linear-gradient;
}
